/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header nav {
  display: inline-block;
  margin-right: 10px;
}

nav span {
  margin-left: 20px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Main Content */
/* Our Mission */
/* Tea of the Month */
/* Locations */
/* Contact */
/* Footer */
